<div class="card">
  <h1 class="card-header">Masuk</h1>
	<%= bootstrap_form_for(:session, url: login_path) do |form| %>
	  <div class="card-body">
	    <div class="field">
	      <%= form.text_field :email %>
	    </div>
	    <div class="field">
	      <%= form.password_field :password %>
	    </div>
	    <div class="check_box inline">
	      <%= form.check_box :remember_me %>
	    </div>
	    <div class="actions">
	      <%= form.submit "Masuk", class: "btn btn-success" %>
	    </div>
	  </div>
	<% end %>
</div>