<%= bootstrap_form_for(@pengguna, local: true) do |form| %>
  <div class="card-body">
    <div class="field">
      <%= form.text_field :nama_lengkap %>
    </div>
    <div class="field">
      <%= form.text_area :email %>
    </div>
    <div class="field">
      <%= form.password_field :password %>
    </div>
    <div class="field">
      <%= form.password_field :password_confirmation %>
    </div>
    <div class="actions">
      <%= form.submit "Konfirmasi", class: "btn btn-success" %>
    </div>
  </div>
<% end %>