<!DOCTYPE html>
<html>
  <head>
    <title>WebApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <div class="primary-nav">
      <%= render "partial/navigation" %>
      <div class="container-fluid">
        <span></span>
        <%= yield %>
        <span></span>
      </div>
      <div class="primary-footer">
      <%= render "partial/footer" %>
    </div>
    </div>
  </body>
</html>
